/*font-family: Roboto, sans-serif;*/
#top-nav {
    background: black;
}
#top-nav-ul>li>a:hover {
    background: white;
    color: black !important;
}
#logo {
    background: #353535;
}
#logo:hover {
    background: lightgray;
    color: black !important;
}
.ad-para1 {
    height: 50px;
    width: 100%;
}
.ad-para2 {
    height: 100px;
    width: 100%;
}
/*#sidenav {*/
/*    background: lightgray;*/
/*}*/