/*font-family: Roboto, sans-serif;*/
body {
    height: 100vh;
}
#main,#container {
    height: 100%;
}
#top-nav {
    background: black;
}
#top-nav-ul>li>a:hover {
    background: white;
    color: black !important;
}
#logo {
    background: #353535;
}
#logo:hover {
    background: lightgray;
    color: black !important;
}
.ad-para1 {
    height: 50px;
    width: 100%;
}
.ad-para2 {
    height: 100px;
    width: 100%;
}
#footer>li>a {
    text-decoration: none;
    color: black;
}
#footer>li>a:hover {
    background: black;
    color: white;
}
/*#sidenav {*/
/*    background: lightgray;*/
/*}*/