/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Abel', sans-serif;*/
 body {
     background-color: #E6E6E6;
 }

h1  {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}

h2  {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}
.nav-bg {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}
.logo-img {
    width: 105px;
    height: 105px;
}
.design {
    font-family: 'Anton', sans-serif;
    color: white;
    background: #E6563B;
    border: .5em solid white;
    width: 105px;
    height: 105px;
}
.develop {
    font-family: 'Anton', sans-serif;
    color: white;
    border: .5em solid white;
    background: #DEA03D;
    width: 105px;
    height: 105px;
}
.support {
    font-family: 'Anton', sans-serif;
    color: white;
    border: .5em solid white;
    background: #7CB06C;
    width: 105px;
    height: 105px;
}
.host {
    font-family: 'Anton', sans-serif;
    color: white;
    border: .5em solid white;
    background: #00ABA9;
    width: 105px;
    height: 105px;
}
.mini-design {
    font-family: 'Anton', sans-serif;
    background: #E6563B;
    width: 18px;
    height: 18px;
}
.mini-develop {
    font-family: 'Anton', sans-serif;
    background: #DEA03D;
    width: 18px;
    height: 18px;
}
.mini-support {
    font-family: 'Anton', sans-serif;
    background: #7CB06C;
    width: 18px;
    height: 18px;
}
.mini-host {
    font-family: 'Anton', sans-serif;
    background: #00ABA9;
    width: 18px;
    height: 18px;
}
.card {
    background-color: #E6E6E6;
}

.feature-font {
    font-family: 'Abel', sans-serif
}

.feature-font2 {
    font-family: 'Abel', sans-serif;
    font-size: 35px;
    color: black;
}

.select-work {
    font-family: 'Abel', sans-serif
}
.side-cards {
    font-family: 'Anton', sans-serif;
}

.small-card-font {
    font-family: 'Anton', sans-serif;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}